#calculator, #numberButtons {
    display: flex;
    width: 400px;
    flex-wrap: wrap;
}

#numberButtons {
    flex-wrap: wrap-reverse;
}

#display {
    width: 400px;
    height: 40px;
    flex-basis: auto;
}

.operatorButton {
    height: 40px;
    width: 25%;
}

.numberButton {
    height: 40px;
    width: 33%;
}