#calculator {
    display: flex;
    width: 400px;
    flex-wrap: wrap;
}

#numberButtons {
    flex-wrap: wrap-reverse;
}

#display {
    width: 400px;
    height: 40px;
    margin: 0 0 2px;
}

#topRow {
    width: 400px;
    display: flex;
    gap: 2px;
}

.topRowButton {
    height: 40px;
    flex: 1 0 21%;
}

.numberButton {
    height: 40px;
    flex: 1 0 30%;
    margin: 2px;
}